





/* :root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196F3;
    --primary-bg-color: #E5E5E5;
    --primary-white-color: #FFFFFF;
    --color-grey-eeee: #EEEEEE;
    --color-black-000: #000000;
    --color-whitegrey-f5f4: #F5F4FA;
    --color-blacklight-2f30: #2F303A;
    --color-white-rich: #ECECEC;
    --color-hover-button: #188CE8;
    --color-white-transparent: rgba(255, 255, 255, 0.6);
    --primary-font: 'Roboto','Raleway',sans-serif;
    --primary-font-size: 14px;
    --primary-cubic: cubic-bezier(0.4, 0, 0.2, 1);
    
} */




/* ===================components================== */









  








/* ===================/components================== */


/* ===================header ========================*/








/* ===================/header ========================*/

/* ===================hero ========================*/



/* ===================features ========================*/
 


/* ===================/features ========================*/


/* ===================work ========================*/



/* ===================/work ========================*/

/* ===================team ========================*/

/* ===================/team ========================*/


/* ===================/clients========================*/



/* ===================/clients========================*/


/* ===================footer========================*/



 /* ===================/footer========================*/

/* ===================portfolio========================*/




 /* ===================/portfolio========================*/

 /* ===================backdrop========================*/



 /* ===================/backdrop========================*/