/* задаємо стилі логотипу */
.logo {
    color: $title-text-color;
    font-family: Raleway, sans-serif;
    // font-weight: 700;
    // font-size: 26px;
    // line-height: 1.19;
    @include font($fs: 26px);
    text-decoration: none;

    // margin-right: 93px;
    align-items: center;
}

.logo--accent {
    color: $accent-text-color;
}

.logo--inverse {
    color: $primary-white-color;
}



   

@media screen and  (max-width: 767px) {

    .logo {
        // margin-right: 88px;
        font-size: 24px;
        margin: 0;
        // margin-right: 88px;
        


    }
    


}


@media screen and  (min-width: 768px) {

    .logo {
        // margin-right: 88px;
        font-size: 24px;
        margin: 0;
        // margin-right: 88px;
        


    }
    
}


@media screen and  (min-width: 1200px) {

    .logo {
        margin-right: 93px;

    font-size: 26px;



    }
    


}