

.form {
    padding: 40px;
    // width: 450px;
    height: 609px;

}

   

.form__title {

    margin-bottom: 12px;

    font-family: 'Roboto';
    font-style: normal;
    // font-weight: 700;
    // font-size: 20px;
    // line-height: 23px;
    @include font($fs: 20px, $lh: 30px);
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}


.form__field {

    position: relative;

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;


    textarea {

        // margin-bottom: 20px;
        padding: 12px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;

       

        height: 85px;

        resize: none;
        outline: none;

        transition: border-color 250ms $primary-cubic;


        &::placeholder {
            color: rgba(117, 117, 117, 0.5);
            font-family: 'Roboto';
            font-style: normal;
            // font-weight: 400;
            // font-size: 12px;
            // line-height: 14px;
            @include font($fs: 12px, $fw: 400, $lh: 14px);
            letter-spacing: 0.01em;

            /* padding: 12px; */
        }



        &:hover,
        &:focus {
            border-color: rgba(33, 150, 243, 1);
        }
    }



    label {
        margin-bottom: 4px;

        font-family: 'Roboto';
        font-style: normal;
        // font-weight: 400;
        // font-size: 12px;
        // line-height: 1.17;
        @include font($fs: 12px, $fw: 400, $lh: 14px);
        /* identical to box height */

        letter-spacing: 0.01em;

        color: #757575;
    }

}





.form__icon {

    display: inline-block;
    position: absolute;
    top: 50%;
    left: 15px;
    fill: $title-text-color;
    transition: fill 250ms $primary-cubic;

    /* transform: translateY(-30%); */


    .form__input:hover+&,
    .form__input:focus+& {
        fill: rgba(33, 150, 243, 1);
    }

}



.form__input {
    margin: 0;


    /* margin-bottom: 10px; */
    padding: 11px 12px;
    // padding-left: 42px;

    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms $primary-cubic;


    &:focus,
    &:hover {
        border-color: rgba(33, 150, 243, 1);
    }


}


.conditions {
    @extend %align;
    margin-bottom: 30px;




    label {

        display: inline-block;


        /* margin-bottom: 30px; */


        font-family: 'Roboto';
        font-style: normal;
        // font-weight: 400;
        // font-size: 14px;
        // line-height: 1.71;
        @include font($fs: 12px, $fw: 400, $lh: 14px);
        /* identical to box height, or 171% */

        letter-spacing: 0.03em;

        color: #757575;
    }

}


.conditions__link {
    color: rgba(33, 150, 243, 1);
}


.conditions__checkbox {
    /* position: absolute; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.conditions__label {
    position: relative;
    display: block;

    cursor: pointer;
    user-select: none;

    .conditions__description {
        position: relative;
        display: inline-block;
        /* padding: 0 0 0 35px; */
        line-height: 16px;
        /* margin-left: 12px; */
        padding-left: 25px;




        &::before {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            position: absolute;
            left: 0;
            top: 0;
            background-image: url(../images/icon/vector.svg);


            background-size: auto auto;
            background-repeat: no-repeat;
            background-position: 50% 50%;

            margin-left: 12px;
            margin: 0 auto;



        }
    }


    input[type=checkbox]:checked+.conditions__description:before {
        background-image: url(../images/icon/check.svg);
        background-color: $accent-text-color;
        background-size: contain;
        background-origin: border-box;

        align-items: center;

        border-radius: 2px;

    }


}






.button--modal {
    /* margin-top: 30px; */

    font-family: 'Roboto';
    font-style: normal;
    // font-weight: 700;
    // font-size: 16px;
    // line-height: 1.87;
    @include font();
    letter-spacing: 0.06em;


    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: $primary-white-color;

    transition: background-color 250ms $primary-cubic, box-shadow 250ms $primary-cubic;


    &:hover,
    &:focus {
        background: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }


}

@media screen and  (min-width: 768px) {

    textarea {
        margin-bottom: 20px;
             

        height: 120px;
    }
}





@media screen and (min-width: 1200px) {

    .form {
        padding: 40px;
        width: 528px;
        height: 581px;
    
    }


//     .form__input {
       
//         width: 100%;
//         height: 40px;
        


// }

.conditions {
    

    label {

        
        @include font($fs: 14px, $fw: 400, $lh: 24px);
        /* identical to box height, or 171% */

}
}
}