/* клас, що підсвічує активну сторінку */
.menu__link.menu__link--current {
    color: $accent-text-color;


    &::after {
        position: absolute;
        display: block;
            
             bottom: 0;
                width: 100%;
                height: 4px;
                background: #2196F3;
                border-radius: 2px;
                opacity: 1;
    }

}
  
